// =============================================
// Primary Break Points
// =============================================

// These should be used with the bp (max-width, xx) mixin
// where a min-width is used, remember to +1 to break correctly.

$bp-xsmall: 479px;
$bp-small: 599px;
$bp-medium: 770px;
$bp-large: 979px;
$bp-xlarge: 1199px;


// =============================================
// Base Values
// =============================================

// Dimensions

$max-content-width: 1475px;


// =============================================
// Brand Colors
// =============================================

// Usually not used directly in Sass partials.
// Only used to define context-based color vars in this file.

$c-blue: #3399CC;
$c-green: #00bcae;
$c-pink: #D85378;
$c-orange: #F3793B;
$c-red: #CF5050;
$c-yellow: #FFDD15;
$c-black: #000000;
$c-grey: #a8a8a8;
$c-light-grey: #ededed;
$c-white: #fff;

// =============================================
// Typography
// =============================================

// Font Stacks

$f-stack-sans: 'Rubik', Verdana, Arial, sans-serif;
$f-stack-serif: Georgia, Times, 'Times New Roman', serif;
$f-stack-special: 'Zooja', 'Helvetica Neue', Verdana, Arial, sans-serif;

$f-stack-default: $f-stack-sans;

// Font Sizes

$f-size-xxl: 18px;
$f-size-xl: 16px;
$f-size-l: 15px;

$f-size: 14px;

$f-size-s: 13px;
$f-size-xs: 12px;
$f-size-xxs: 11px;
