#carousel{
  display: block;

  /* ============================================ *
   * Slide (Slide 01)
   * ============================================ */
  .slide{
    height: calc(100vh - 86px);
    background: url(../img/slider/Slider_01_visuelLaMysterieuse_gradient.jpg) no-repeat 50% 50%;
    background-size: cover;

    // Desktop
    @include bp(min-width, $bp-large) {
      height: calc(100vh - 104px);
    }
  }

}
